@import "tailwindcss";

@keyframes scroll-up {
  from { transform: translateY(0); }
  to { transform: translateY(-50%); }
}

@keyframes scroll-down {
  from { transform: translateY(-50%); }
  to { transform: translateY(0); }
}

.animate-scroll-up {
  animation: scroll-up linear infinite;
}

.animate-scroll-down {
  animation: scroll-down linear infinite;
}